html {
    box-sizing: border-box;
}

.container{
    background-size: contain;
}

.header {
background-image: url(assets/Header.jpg);
width: 1600px;
height: 612px;
}

.section_one{
    background-image: url(assets/Inner_Section_One.jpg);
    width: 1600px;
height: 75px;
}

.history{
    background-image: url(assets/History.jpg);
    width: 1600px;
height: 708px;
}

.carousel{
    background-image: url(assets/Carousel.jpg);
    width: 1600px;
height: 194px;
}

.section_two{
    background-image: url(assets/Inner_Section_Two.jpg);
    width: 1600px;
height: 168px;
}

.travel{
    background-image: url(assets/Travel.jpg);
    width: 1600px;
height: 594px;
}

.footer {
background-image: url(assets/Footer.jpg);
width: 1600px;
height: 73px;
}

.main {
    background-color: blue;
}